body {
    background-color: moccasin;
    display: flex;
    flex-direction: column;
}
.logo{
    object-fit: contain;
    height: 13vh;
    margin-left: 2vw;
    margin-right: auto;
    
}

#game_canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.left_container{
    width: 10vw;
    padding-top: 10vh;
    padding-bottom: 0;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
}

.right_container{
    width: 10vw;

    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bottom_container{
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    width: 87vw;
    justify-content: space-between;
    display: flex;
}

.bunny_img{
    object-fit: contain;
    width: 10vw;
    height: 10vh;
}

#black_timer {
    background-color: transparent;
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 1vw 1vh 1vw;
    display: flex;
    flex-direction: row;
    align-items: end;
}

#white_timer {
    background-color: transparent;
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 1vw 1vh 1vw;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.time_text{
    font-size: 3vw;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
}
.main_area{
    margin-top: 5vh;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* CSS */
.button-74 {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vh;
    line-height: 4vh;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
